:root{
    /* colors */
    --dark: #090919;
    --light: rgb(15, 0, 255);
    --complementary: #e09b2c;
    --gray: rgba(128, 128, 128, 0.44);
}

body{
    background-color: var(--dark);
    color: var(--light);
}

header h1{
    font-size: 110%;
}

nav{
    min-height: 400px !important;
}
a
{
    color: var(--light);
}
    a:hover{
        color: var(--complementary);
        background-color: var(--gray);
    }

.container{
    float: left;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.highlight{
    color: var(--complementary);
}

.border-complementary{
    border-color: var(--complementary) !important;
}