:root{
    /* colors */
    --dark: #2d2d2d;
    --light: #c6716f;
    --complementary: #68bb70;
    --gray: rgba(128, 128, 128, 0.44);
}

body{
    background-color: var(--dark);
    color: var(--light);
}

header h1{
    font-size: 110%;
}

nav{
    min-height: 400px !important;
}
a
{
    color: var(--light);
}
    a:hover, .active{
        color: var(--complementary) !important;
        background-color: var(--gray);
    }

.container{
    float: left;
    min-width: 600px !important;
    /*margin: 0 !important;
    padding: 0 !important; */
}

.highlight{
    color: var(--complementary);
}

.border-complementary{
    border-color: var(--complementary) !important;
}

.content-block
{
    /*display: none;*/
}

#content-area h2
{
    font-size: 110%;
}

.notmainnav
{
    min-height: auto !important;
}