<div class="row border-bottom border-complementary">
    <nav class="m-0 p-0 notmainnav">
        <ul class="nav m-0 p-0">
            <li class="nav-item {% if route == '/Twitter'%} active {% endif %}" id="twitter"><a class="nav-link text-center m-0"  href="/Twitter">Current Watch</a></li>
            <li class="nav-item {% if route == '/Twitter/Auto'%} active {% endif %}" id="twitterAuto"><a class="nav-link text-center m-0" href="/Twitter/Auto">Automated Tweets</a></li>
            <li class="nav-item {% if route == '/Twitter/New'%} active {% endif %}" id="twitterNew"><a class="nav-link text-center m-0" href="/Twitter/New">New Tweet</a></li>
        </ul>
    </nav>
</div>